<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="icon" href="./images/weather.png" />
        <link rel="stylesheet" href="./css/style.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{>404}}
        </div>
        
        {{>footer}}
    </body>
</html>